/* Base styling for both light and dark modes */
body {
  font-family: "Courier New", Courier, monospace;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode Styles */
body.dark-mode {
  background-color: #0f0f0f;
  color: #00ff00;
}

body.dark-mode a {
  color: #00ff00;
}

body.dark-mode a:hover {
  color: #008000;
}

/* Light Mode Styles */
body.light-mode {
  background-color: #f4f4f4;
  color: #333;
}

body.light-mode a {
  color: #006400;
}

body.light-mode a:hover {
  color: #228b22;
}

/* Button styles */
button {
  cursor: pointer;
}

/* Dark mode toggle button */
#darkModeToggle {
  transition: background-color 0.3s, transform 0.3s ease;
}

/* Hover animation for dark mode toggle */
#darkModeToggle:hover {
  transform: scale(1.1);
}

/* Footer border color */
footer {
  border-color: #00ff00;
}
